{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="container pt-md-5">

    <form method="POST">
        <div class="container">
            <div class="row align-items-start">
                <div class="col">
                    <h3 class="text-center">Submit Arrest</h3>
                    
                    <label>
                        Arrest date: <input type="date" name="date">
                    </label><br>

                    <label for="gender">Gender</label><br>
                    <select name = "gender">
                        <option value = "female">Female</option><br>
                        <option value="male">Male</option><br>
                        <option value = "trans">Transgender</option><br>
                        <option value="unknown">Unknown</option><br>
                    </select><br>

                    <label for = "category">Category</label>
                    <select name = "category">
                        <option value = "Assault">Assault</option>
                        <option value = "DV">Domestic Violence</option>
                        <option value = "Disorder">Disorder</option>
                        <option value = "Driving">Driving</option>
                        <option value = "Drugs">Drugs</option>
                        <option value = "Financial">Financial</option>
                        <option value = "Other">Other</option>
                        <option value = "Property">Property</option>
                        <option value = "Sexual Offense">Sexual Offense</option>
                        <option value = "Trespass">Trespass</option>
                        <option value = "Warrant or Court Order">Warrant or Court Order</option>
                        <option value = "Weapons">Weapons</option>
                    </select><br>

                    <label for = "race">Race</label>
                    <select name = "race">
                        <option value = "">American Indian or Alaska Native</option>
                        <option value = "">Asian</option>
                        <option value = "">Black or African American</option>
                        <option value = "">Native Hawaiian or Other Pacific Islander</option>
                        <option value = "">Other</option>
                        <option value = "">Unknown</option>
                        <option value = "">White</option>
                    </select><br>

                    <label for = "age">Age</label>
                    <input type="int" name="age"><br>

                    <label for="charge">Charge</label>
                    <input type="text" name="charge"><br>

                    <label for = "most_serious">Most serious </label>
                    <input type="checkbox" name="most_serious"><br>

                    <label for = "felony">Felony </label>
                    <input type="checkbox" name="felony"><br>

                    <label for = "violent">Violent </label>
                    <input type="checkbox" name="violent"><br>

                    <button type="submit" class="btn btn-primary" name="button">Submit</button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}