{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="container pt-md-5">
    <form method="POST">
        <div class="form-group">
            <h3 class="text-center">Insert/Modify an "Arrest"</h3>
            <label for="modify">Modify existing entry?</label>
            <input class="form-check-label" type="checkbox" name="modify">
        </div>
        <div class="form-check">
            <label for="objectid">Object ID of the record (only enter if modifying):</label>
            <input class="form-control" type="number" name="objectid">
            <!-- <p>Note: The objectid is a primary key, not null, and unique. 
                Changing it to a value that already exists in the table will abort.</p> -->
        </div><br>
        <div class="form-group">
            <label>Arrest date: </label>
                <input class="form-control" type="date" name="date">
        </div>
        <div class="form-group">
            <label for="gender">Gender</label><br>
            <select class="form-control" name = "gender">
                <option value = "female">Female</option><br>
                <option value="male">Male</option><br>
                <option value = "trans">Transgender</option><br>
                <option value="unknown">Unknown</option><br>
            </select>
        </div>
        <div class="form-group">
            <label for = "category">Category</label>
            <select class="form-control" name = "category">
                <option value = "Assault">Assault</option>
                <option value = "DV">Domestic Violence</option>
                <option value = "Disorder">Disorder</option>
                <option value = "Driving">Driving</option>
                <option value = "Drugs">Drugs</option>
                <option value = "Financial">Financial</option>
                <option value = "Other">Other</option>
                <option value = "Property">Property</option>
                <option value = "Sexual Offense">Sexual Offense</option>
                <option value = "Trespass">Trespass</option>
                <option value = "Warrant or Court Order">Warrant or Court Order</option>
                <option value = "Weapons">Weapons</option>
            </select>
        </div>

        <div class="form-group">
            <label for = "race">Race</label>
            <select class="form-control" name = "race">
                <option value = "American Indian or Alaska Native">American Indian or Alaska Native</option>
                <option value = "Asian">Asian</option>
                <option value = "Black or African American">Black or African American</option>
                <option value = "Native Hawaiian or Other Pacific Islander">Native Hawaiian or Other Pacific Islander</option>
                <option value = "Other">Other</option>
                <option value = "Unknown">Unknown</option>
                <option value = "White">White</option>
            </select>
        </div>

        <div class="form-group">
            <label for = "age">Age</label>
            <input class="form-control" type="number" name="age">
        </div>
        <div class="form-group">
            <label for="charge">Charge</label>
            <input class="form-control" type="text" name="charge">
        </div>
        <div class="form-check">
            <label for = "most_serious">Most serious </label>
            <input class="form-check-label" type="checkbox" name="most_serious"><br>
        </div>
        <div class="form-check">
            <label for = "felony">Felony </label>
            <input class="form-check-label" type="checkbox" name="felony"><br>
        </div>
        <div class="form-check">
            <label for = "violent">Violent </label>
            <input class="form-check-label" type="checkbox" name="violent"><br>
        </div>
        
        <button type="submit" class="btn btn-primary" name="button">Submit</button>
    </form>
</div>
{% endblock %}