{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="container pt-md-5">
    <form method="POST">
      <h3 class="text-center">Delete a Record:</h3>
        <label>Table:</label>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="table" value="incidents" checked>
          <label class="form-check-label" for="flexRadioDefault2" value="incidents">
            Incidents
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="table" value="arrests">
          <label class="form-check-label" for="flexRadioDefault1" value="arrests">
            Arrests
          </label>
        </div>
        <br>
        <div class="form-group">
          <label for="objectid">Object ID of the record to be deleted.</label>
          <input class="form-control" type="number" name="objectid">
        </div>
        <br>
        <div class="form-check">
          <label for = "confirm">Are you sure? There's no going back...</label>
          <input class="form-check-label" type="checkbox" name="confirm"><br>
      </div>
        <br>
        <button type="submit" class="btn btn-primary" name="button">Delete Record</button>
    </form>
</div>
{% endblock %}