{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="container pt-md-5">
    <form method="POST">
        <div class="form-group">
            <h3 class="text-center">Insert/Modify an "Incident"</h3>
            <label for="modify">Modify existing entry?</label>
            <input class="form-check-label" type="checkbox" name="modify">
        </div>
        <div class="form-check">
            <label for="objectid">Object ID of the record (only enter if modifying):</label>
            <input class="form-control" type="number" name="objectid">
            <p>Note: The objectid is a primary key, not null, and unique.
                Changing it to a value that already exists in the table will abort.</p>

        </div>
        <div class="form-group">
            <label for="call_type">Call Type: (ex. Noise)</label>
            <input class="form-control" type="text" name="call_type">
        </div>
        <div class="form-group">
            <label for="call_type_group">Call Type Group (ex. Quality of Life)</label>
            <input class="form-control" type="text" name="call_type_group">
        </div>
        <div class="form-group">
            <label for="call_time">Call Time: (ex. 11:40:00)</label>
            <input class="form-control" type="text" name="call_time">
        </div>
        <div class="form-group">
            <label>Street:</label>
            <input class="form-control" type="text" name="street">
        </div>

            <!-- <label for = "call_origin">Call Origin:</label>
                        911 <input type="radio" name="call_origin" value = "911">
                        In Person <input type="radio" name="call_origin" value = "in_person">
                        Officer/Radio <input type="radio" name="call_origin" value = "officer_radio">
                        Online Report <input type="radio" name="call_origin" value = "online">
                        Phone <input type="radio" name="call_origin" value = "phone">
                        Unknown <input type="radio" name="call_origin" value = "Unknown"> -->
        
        <div class="form-group">
            <label for="areaname">Area Name: </label>
            <input class="form-control" type="text" name="areaname">
        </div>

        <div class="form-group">
            <label for="latitude">Latitude</label>
            <input class="form-control" type="text" name="latitude">
        </div>

        <div class="form-group">
            <label for="longitude">Longitude</label>
            <input class="form-control" type="text" name="longitude">
        </div>
        <!-- <label for = "date">Date of incident: </label>
                <input type="date" name="date"> -->
        <div class="form-group">
            <label for="district">District</label>
            <select name="district">
                <option value="Central">Central</option>
                <option value="East">East</option>
                <option value="North">North</option>
                <option value="South">South</option>
                <option value="unknown">Unknown</option>
            </select>
        </div>
        <div class="form-group">
        <label for="priority">Priority</label>
        <select name="priority">
            <option name="priority" value="1">1
            <option name="priority" value="2">2
            <option name="priority" value="3">3
            <option name="priority" value="NA">N/A
        </select>
        </div>

        <div class="form-check">
            <label>Mental Health Related</label>
            <input class="form-check-label" type="checkbox" name="mental_health_related">
        </div>
        <div class="form-check">
            <label>Drug Related</label>
            <input class="form-check-label" type="checkbox" name="drug_related">
        </div>

        <div class="form-check">
            <label>Domestic Violence Related</label>
            <input class="form-check-label" type="checkbox" name="dv_related">
        </div>
        <div class="form-check">
            <label for="alcohol_related">Alcohol Related </label>
            <input class="form-check-label" type="checkbox" name="alcohol_related">
        </div>

        <button type="submit" class="btn btn-primary" name="button">Submit</button>
    </form>
</div>

{% endblock %}