{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="container pt-md-5">
    <form method="POST">
      <h3>Create a Statistical Query on a Numerical Column</h3>
        <div class="form-group">
          <label for = "column">Numerical Column:</label>
          <select class="form-control" name = "column">
            <option value = "objectid">objectid</option>
            <option value = "incident_number">incident_number</option>
            <option value = "age">age</option>
            <option value = "most_serious">most_serious</option>
            <option value = "felony">felony</option>
            <option value = "violent">violent</option>
            <option value = "mental_health">mental_health</option>
            <option value = "drug_related">drug_related</option>
            <option value = "dv_related">dv_related</option>
            <option value = "alcohol_related">alcohol_related</option>
            <option value = "latitude">latitude</option>
            <option value = "longitude">longitude</option>
            <option value = "priority">priority</option>
          </select>
      </div>
      <div class="form-group">
        <label for = "operation">Statistical Operation:</label>
        <select class="form-control" name = "operation">
          <option value = "count">Count</option>
          <option value = "max">Max</option>
          <option value = "mean">Mean</option>
          <option value = "min">Min</option>
          <option value = "median">Median</option>
          <option value = "sum">Sum</option>
          <option value = "std mean">Standard deviation mean</option>
        </select>
      </div>
        <br>
        <button type="submit" class="btn btn-primary" name="button">Execute Query</button>
    </form>

    <br>

    {% if result %}
      <tr>
        <td>Results: {{result}}</td>
      </tr>
    {% endif %}

    <!-- {% for row in result %}
      <tr>
    {% for d in row %}
        <td>{{ d }}</td>
    {% endfor %}
      </tr>
    {% endfor %} -->

</div>
{% endblock %}

      <!-- <h3 class="text-center">Table to query on:</h3>
        <label>Table:</label>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="table" value="incidents" checked>
          <label class="form-check-label" for="flexRadioDefault2" value="incidents">
            Incidents
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="table" value="arrests">
          <label class="form-check-label" for="flexRadioDefault1" value="arrests">
            Arrests
          </label>
        </div>
        <br>
        <div class="form-group">
          <label for="objectid">Object ID of the record </label>
          <input class="form-control" type="number" name="objectid">
        </div> -->